{% extends 'base.html' %}
{%load static from staticfiles%}
{% block content %}

<section class="hero-section set-bg" data-setbg="{% static 'image/blank billboard.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-text">
                    <img src="{% static 'image/blank billboard.jpg'%}" alt="">
                    <h1 style="color:black">{{singleBillboard.name}}</h1>
                </div>
                
                <div class="card mb-4">
                    <div class="card-body">
                <br>
                {{singleBillboard.owner}}
                <br>
                </div>
                </div>

            </div>
        </div>
    </div>
</section>



{% endblock %}