{%extends 'base.html'%}
{%load static%}
{%block content%}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class ="nav-link" href="home/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="loginsub/">   Login  </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="BillboardList/">Billboard List</a>
    </li >
    <li class="nav-item active">
      <a class="nav-link" href="">   About  </a>
    </li>
  </ul>
</nav>
<h1></h1>
<body>
  <img >
</body>
<p> BillAd is a system t</p>

{% endblock %}
