{%extends 'base.html'%}
{%load static from staticfiles%}
{%block title%}
Homepage
{%endblock%}
{%block content%}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class ="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="loginsub/">   Login  </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="list/">Billboard List</a>
    </li >
    <li class="nav-item">
      <a class="nav-link" href="about/">   About  </a>
    </li>
  </ul>
</nav>
    <h1>BillAd </h1>
    <h1>Advertisement Billboard Rental system</h1>
    <p>welcome to BillAd</p>

{%endblock%}


